*{
    margin: 0;
    padding: 0;
}
form input{
    width: 15rem;
    padding: 1rem;
    margin: 10px;
    border-radius: 20px;
}
form button{
    width: 5rem;
    padding: 10px;
    border-radius: 10px;
    background-color: green;
    color: white;
}
button{
    background-color: green;
    color: white;
    width: 5rem;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}
.create_form, .update_form{
    display: none;
}